= render '/application/mailer_doctype'
%html
  %p= t("email.create_discussion.intro")

  %p= link_to("Click here to view this discussion", discussion_url(@discussion))

  %table
    %tr
      %th= t :discussion
      %td
        = @discussion.title
    %tr
      %th= t :group
      %td
        = @discussion.group.full_name
    %tr
      %th= t("email.create_discussion.started_by")
      %td
        = @discussion.author.name

  = render 'user_mailer/unsubscribe_link'
