= t("email.create_discussion.intro")
\
= t("email.create_discussion.view_discussion")
= discussion_url(@discussion)
\
= "#{t(:discussion)}:"
= @discussion.title
\
= "#{t(:group)}:"
= @discussion.group.full_name
\
= t("email.create_discussion.started_by")
= @discussion.author.name
\
= render 'user_mailer/unsubscribe_link_text'
